
.data-input {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.data-input > * {
	margin-left: 0;
	margin-right: 0;
}

#calc-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem 2rem;
}
