---
interface Props {
  src: string;
  alt: string;
  size?: number;
}

const { src, alt, size } = Astro.props as Props;
---

<div class="flex justify-center mb-6">
  <img
    src={src}
    alt={alt}
    class="rounded-full border-4 border-gray-200 shadow-lg"
    style={`width: ${size}px; height ${size}px`}
  />
</div>
